## Ignore Visual Studio temporary files, build results, and
## user-specific files.

# User-specific files
*.rsuser
*.suo
*.user
*.userhtml
*.spec
*.sqlproj.user
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
build/
bld/
[Bin]/
[Obj]/
[Log]/
bin/
obj/

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/

# Navigation database distance cache
*.dbmdl
*.opendb

# CoreProj.FilePath
*.FilePath

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Publish output
*publish/
